.page__2DQ5o{
  text-align:center;
  overflow:visible;
}
.content__1okvo{
  margin:1em;
}

.nobreak__VzgsI{
  white-space:nowrap;
}

.common__styl3{
  text-shadow:0 0 5px #000;
}
.common__styl3>a{
  padding:.5em;
}
.nav__3nlBw{
  text-shadow:0 0 5px #000;
  padding:0 .25em .35em;
}
.nav__3nlBw>a{
  padding:.5em;
}
.footer__1g1vH{
  text-shadow:0 0 5px #000;
  padding:1em .25em .35em;
}
.footer__1g1vH>a{
  padding:.5em;
}

.alien__2nisP,.generic___SWsz,.human__IrD6S{
  display:inline-block;
  vertical-align:top;
  padding:.4em;
  text-align:left;
  --aug-border:0.06666667em;
  --aug-inset:0px;
  --aug-border-opacity:0.85;
  --aug-inset-opacity:0.85;
}
.alien_sub__29CMv,.generic_sub__2F5WH,.human_sub__QDedb{
  height:100%;
  width:100%;
}
.alien_list__1gSNi,.generic_list__1phks,.human_list__31sXP{
  overflow:hidden;
  padding:0;
}
.alien_list__1gSNi>ul,.generic_list__1phks>ul,.human_list__31sXP>ul{
  margin:0;
  padding:0;
  list-style:none;
}
.alien_list__1gSNi>ul>li,.generic_list__1phks>ul>li,.human_list__31sXP>ul>li{
  margin:0;
  padding:0;
}
.alien_list__1gSNi>ul>li>*,.generic_list__1phks>ul>li>*,.human_list__31sXP>ul>li>*{
  display:block;
  margin:0;
  padding:.1em .35em;
  cursor:pointer;
  --aug-border:0px;
  --aug-inset:0px;
  --aug-inset-bg:#1a1a1a;
  --aug-inset-opacity:0;
}
.alien_list__1gSNi>ul>li>:focus,.alien_list__1gSNi>ul>li>:hover,.generic_list__1phks>ul>li>:focus,.generic_list__1phks>ul>li>:hover,.human_list__31sXP>ul>li>:focus,.human_list__31sXP>ul>li>:hover{
  --aug-inset-opacity:calc(0.5 * 0.55);
}
.alien_list__1gSNi>ul>li>:focus a,.alien_list__1gSNi>ul>li>:hover a,.generic_list__1phks>ul>li>:focus a,.generic_list__1phks>ul>li>:hover a,.human_list__31sXP>ul>li>:focus a,.human_list__31sXP>ul>li>:hover a{
  color:inherit;
}
.alien_list__1gSNi>ul>li.active__p9td8>*,.generic_list__1phks>ul>li.active__p9td8>*,.human_list__31sXP>ul>li.active__p9td8>*{
  --aug-inset-opacity:0.5;
}
.generic_list__1phks>ul>li.active__p9td8{
  color:#ffbf00;
}
.alien_list__1gSNi>ul>li.active__p9td8{
  color:#ff4040;
}
.human_list__31sXP>ul>li.active__p9td8{
  color:#66b3ff;
}
.actions__Kl1Ng{
  padding-top:.4em;
  text-align:right;
}
.actions__Kl1Ng a{
  padding:.2em .4em;
}
.generic___SWsz{
  --aug-inset-bg:rgba(0, 0, 0, 0.85);
  --aug-border-bg:hsla(0, 0%, 50.2%, 0.425);
}
.generic___SWsz a:focus,.generic___SWsz a:hover{
  color:#ffbf00;
}
.alien__2nisP{
  --aug-inset-bg:rgba(13, 0, 0, 0.85);
  --aug-border-bg:rgba(153, 128, 128, 0.425);
}
.alien__2nisP a:focus,.alien__2nisP a:hover{
  color:#ff4040;
}
.alien__2nisP h1,.alien__2nisP h2,.alien__2nisP h3,.alien__2nisP h4,.alien__2nisP h5,.alien__2nisP h6,.alien__2nisP h7{
  font-family:Audiowide,cursive;
  line-height:1.34em;
}
.human__IrD6S{
  --aug-inset-bg:rgba(0, 6, 13, 0.85);
  --aug-border-bg:rgba(128, 140, 153, 0.425);
}
.human__IrD6S a:focus,.human__IrD6S a:hover{
  color:#66b3ff;
}
.human__IrD6S h1,.human__IrD6S h2,.human__IrD6S h3,.human__IrD6S h4,.human__IrD6S h5,.human__IrD6S h6,.human__IrD6S h7{
  font-family:Orbitron,sans-serif;
  font-weight:700;
  line-height:1.34em;
}
.alien_sub__29CMv{
  --aug-inset-bg:rgba(26, 0, 0, 0.85);
  --aug-border-bg:rgba(153, 115, 115, 0.425);
}
.human_sub__QDedb{
  --aug-inset-bg:rgba(0, 13, 26, 0.85);
  --aug-border-bg:rgba(115, 134, 153, 0.425);
}
.big__3sW7h{
  font-size:42px;
}

.base__3WNjz{
  position:relative;
  padding:1.4em .4em .4em;
  --aug-border:0.1em;
  --aug-border-opacity:0.85;
  --aug-inset-opacity:0.85;
  --aug-tr-width:calc(100% - 8em);
  --aug-tl:0.8em;
  --aug-tr:0.8em;
  --aug-br:0.8em;
}
.base__3WNjz>span{
  position:absolute;
  width:8em;
  top:.1em;
  left:.4em;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-color:hsla(0, 0%, 100%, .5);
          text-decoration-color:hsla(0, 0%, 100%, .5);
}
.warning__1YEOZ{
  position:relative;
  padding:1.4em .4em .4em;
  --aug-border:0.1em;
  --aug-border-opacity:0.85;
  --aug-inset-opacity:0.85;
  --aug-tr-width:calc(100% - 8em);
  --aug-tl:0.8em;
  --aug-tr:0.8em;
  --aug-br:0.8em;
  --aug-border-bg:#ff4040;
  color:#ff4040;
}
.warning__1YEOZ>span{
  position:absolute;
  width:8em;
  top:.1em;
  left:.4em;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-color:hsla(0, 0%, 100%, .5);
          text-decoration-color:hsla(0, 0%, 100%, .5);
}
.information__3eWOx{
  position:relative;
  padding:1.4em .4em .4em;
  --aug-border:0.1em;
  --aug-border-opacity:0.85;
  --aug-inset-opacity:0.85;
  --aug-tr-width:calc(100% - 8em);
  --aug-tl:0.8em;
  --aug-tr:0.8em;
  --aug-br:0.8em;
  --aug-border-bg:#66b3ff;
  color:#66b3ff;
}
.information__3eWOx>span{
  position:absolute;
  width:8em;
  top:.1em;
  left:.4em;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-color:hsla(0, 0%, 100%, .5);
          text-decoration-color:hsla(0, 0%, 100%, .5);
}
.alert__3ZLai{
  position:relative;
  padding:1.4em .4em .4em;
  --aug-border:0.1em;
  --aug-border-opacity:0.85;
  --aug-inset-opacity:0.85;
  --aug-tr-width:calc(100% - 8em);
  --aug-tl:0.8em;
  --aug-tr:0.8em;
  --aug-br:0.8em;
  --aug-border-bg:#ffbf00;
  color:#ffbf00;
}
.alert__3ZLai>span{
  position:absolute;
  width:8em;
  top:.1em;
  left:.4em;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-color:hsla(0, 0%, 100%, .5);
          text-decoration-color:hsla(0, 0%, 100%, .5);
}

